@import url('https://fonts.google.com/');

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

body {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  background-color: slategray ;
  color: whitesmoke ;
  font-size: 17px ;
  line-height: 10px
}

h3 {
  color: rgb(3, 45, 80);
  line-height: 4px;
  font-size: 18px;
  line-height: 10px;
}
a {
  color: rgb(238, 183, 210);
}
a:hover {
  background-color: rgb(167, 117, 147);
}
button:hover {
  background-color: slategray;
}
button {
  color: rgb(3, 45, 80);
  font-weight: bold;
  background-color: rgb(238, 183, 210) ;
}
.myDiv {
  border: 3px outset rgb(238, 183, 210);
  background-color: slategray;
  text-align: center;
  width: 800px;
  border-radius: 150px ;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin: 0 auto;
}
.myButton {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.myButton:active {
	position:relative;
	top:1px;
}
